<section class="block">
  <div class="container">
    <h2>Classifieds</h2>
    <ul class="categories-list clearfix">
      {{#each hbsObject.classifieds}}
        <li>
          <i class="classified-font-awesome-icon fa {{this.icon}} fa-2x"></i>
          <h3><a href="{{this.url}}">{{this.title}}</a></h3>
            {{#if this.subcats}}
              <div class="sub-categories">
                {{#each this.subcats}}
                  <a href="{{this.url}}">{{this.title}}</a>
                {{/each}}
              </div>
            {{/if}}
        </li>
      {{/each}}
    </ul>
  </div>
</section>
